---
layout: default

---
{% assign sorted_members = site.data.members | sort: 'id' %}
{% assign faculty = sorted_members | where:"status","shifu" %}
{% assign current_phds = sorted_members | where:"status","current" | where:"advisor","goel" %}
{% assign goel = faculty | first %}
{% assign alumni = sorted_members | where:"status","alumni" %}

{% assign member = goel %}

<div class="row">
  <div class="member-badge col-md-3 col-sm-6">
    <div class="image">{% if member.website != nil %}<a href="{{ member.website }}">{% endif %}<img src="{{site.url}}{{member.image}}"/>{% if member.website != nil %}</a>{% endif %}</div>
  </div>
  <div class="description col-md-6 col-sm-6">
    <div class="details">
      <h3>I am an Associate Professor in the Software and Societal Systems Department (S3D) and Human-Computer Interaction Institute (HCII) in the School of Computer Science at CMU. I lead the <a href="https://www.smashlab.io" color=red>Smart Sensing for Humans (SMASH) Lab</a> at CMU. My research interests are Human-Computer Interaction, Ubiquitous Computing, Sensing, Signal Processing, and Applied Machine Learning. I regularly collaborate with mechanical and biomedical engineers, doctors, nurses, community health workers, and patients and their caregivers. Some of my inventions are deployed in clinics worldwide, licensed to several companies, and are part of commercial products. I received my Ph.D. in Computer Science and Engineering from the University of Washington, an M.S. in Computer Science from the Georgia Institute of Technology, and a B.Tech. in CSE from <a href="http://www.ipu.ac.in" color=red>GGS Indraprastha University, India</a>. 
</h3>
    </div>
  </div>
  <div class="students col-md-3 col-sm-6">
<h2>Current Ph.D. Students</h2>
<!-- <div class="row"> -->
{% for member in current_phds %}
{{ member.name }}
{% endfor %}
<!-- </div> -->
</div>

</div>




 
<script>
$(document).ready(function(){

  $('.bxslider').bxSlider({
    adaptiveHeight: false,
    speed: 500,
    captions: true,
    auto: true,
    pause: 5000,
    autoControls: true
    });
});
</script>